{{> header }}
    <div class="container-fluid px-1 px-sm-3 py-5 mx-auto">
    <div class="row d-flex justify-content-center">
        <div class="row card0">
            <div class="card1 col-lg-8 col-md-7">
                <small>{{ title }}</small>
                <div class="text-center">
                    <img class="image mt-5" src="https://i.imgur.com/M8VyA2h.png">
                </div>
                <div class="row px-3 mt-3 mb-3">
                    <h1 class="large-font mr-3"><span class="temp"></span></h1>
                    <div class="d-flex flex-column mr-3">
                        <h2 class="mt-3 mb-0 location"></h2>
                        <small class="dateTime"></small>
                    </div>
                    <div class="d-flex flex-column text-center" id="temp_status"> </div>
                </div>
            </div>
            <div class="card2 col-lg-4 col-md-5">
                <div class="row px-3">
                    <input type="text" name="location" id="location" placeholder="Another location" class="">
                    <div class="fa-solid fa-magnifying-glass text-center" id="submitBtn"></div> 
                </div>
                <h6 class="mt-2 error_msg" style="color:#e5e5e5; letter-spacing: 1px;"></h6>
                <div class="mr-5 mt-4">  
                    <p>Weather Details</p>
                    <div class="row px-3">
                        <p class="light-text">Cloudy</p>
                        <p class="ml-auto"><span class="clouds">0</span>%</p>
                    </div>
                    <div class="row px-3">
                        <p class="light-text">Humidity</p>
                        <p class="ml-auto"><span class="humidity">0</span>%</p>
                    </div>
                    <div class="row px-3">
                        <p class="light-text">Wind</p>
                        <p class="ml-auto"><span class="wind">0</span>m/sec</p>
                    </div>
                    <div class="row px-3">
                        <p class="light-text">Sun Rise</p>
                        <p class="ml-auto"><span class="sunriseTime">00:00:00</span></p>
                    </div> 
                    <div class="row px-3">
                        <p class="light-text">Sun Set</p>
                        <p class="ml-auto"><span class="sunsetTime">00:00:00</span></p>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>
{{> footer }}